*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font: 1.5 sans-serif;
  width: 100%;
  background-color: rgb(10, 15, 34);
  color:aliceblue;
}

.header {
  height: 60px;
  width: 80%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  padding: 7px;
  font-size: 20px;
}

.container  {
  width: 80%;
  height: 60px;
  margin: auto;
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.container button:hover {
    transition: .5s;
    background: linear-gradient(120deg, #2980b9, #8e44ad);

  }

#cat-generator, #modes{
  background-color:  transparent;
  letter-spacing: 2px;
  border-color: #adadaa;
  border-radius: 1em;
  color:aliceblue;
  border: 2px solid ;
  font-size: 16px;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 15px;
  margin-bottom: 2px;
}

#cat-generator{
  width: 25%;
}

#modes {
   width: 25%;
}

.context {
  width: 80%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  overflow: hidden;
}

#cat-image-container{
  width: 60%;
  margin: auto;
  height: 40em;
  margin-top: 15px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width : 700px;
  height: 600px;
  border:2px solid aliceblue;
  border-radius: 30px;
  padding: 10px;
}


/*media max -width 1110px*/

@media only screen and (max-width: 1100px) {
 body{
  overflow: auto;
 }
  .header {
    font-size: 13px;
 }

 #cat-image-container{
  width: 100%;
}

img {
  width : 530px;
}

 #cat-generator{
  width: 40%;
}

#modes {
   width: 40%;
}

}

/*media max -width 600px*/

@media only screen and (max-width: 600px) {

 img {
  width : 380px;
}


}
