*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  height: 100vh; 
  font: 1.5 sans-serif;
  width: 100%;
  background-color: rgb(10, 15, 34);
  color:aliceblue;
}

ul{
  margin : 0;
  padding: 0;
  list-style-type: none;
}

.header {
  height: 60px;
  width: 80%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  padding: 7px;
  font-size: 20px; 
}

.container  {
  width: 80%;
  height: 60px;
  margin: auto;
  display: flex;
  margin-top: 15px; 
  justify-content: center; 
} 
.container button:hover {
  background: linear-gradient(120deg, #031f56, #38044f);

}

#cat-generator, #modes, #cat-fact-generator{
background-color:  transparent;
letter-spacing: 2px;
border-color: #adadaa;
border-radius: 1em;
color:aliceblue;
border: 2px solid ;
font-size: 16px;
cursor: pointer;
margin-top: 2px;   
margin-top: 2px;   
margin-top: 2px;   
margin-left: 15px;
margin-bottom: 2px;  
transition: all 0.3s 0s ease-in-out;
} 

#cat-generator{
width: 25%;
}

#cat-fact-generator {
width: 60%;
}

#modes { 
 width: 25%;   
  }
  
/*styling the cat image & fact containers*/


.context {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: auto;
  overflow: hidden;
}

#cat-image-container{
  width: 50%;
  float: left;
  height: 40em;
  margin-top: 15px;
  border-radius: 30px;
}

img {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width : 700px;
  height: 600px; 
  padding-top: 30px; 
} 


#cat-data-container{
  width: 50%;
  float: right;
  height: 40em;
  padding: 15px;
  margin-top: 15px;
  border-radius: 30px;
} 


li {
  padding: 30px;
  margin-bottom:5px;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
}

/*footer*/

footer{
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 15px;
  border-radius: 18px;
}

footer a {
  padding: 10px;
  color: aliceblue;
  text-decoration: none;
  width: 100px;
  font-size: large;  
}



/*media max -width 1110px*/

@media only screen and (max-width: 1100px) {
  body{
   overflow: auto;
  }
   .header { 
     font-size: 13px; 
  }
 
  #cat-image-container{
   width: 100%;
 }
 
 img {
   display: block; 
   margin-left: auto;
   margin-right: auto;
   width : 540px;
   border:none;
 } 
  #cat-data-container{
    width: 100%;
  }
 
  #cat-generator{
   width: 40%;
 }
 
 #cat-fact-generator {
   width: 48%;
 }

 #cat-data-container{
  height : 53em;
 }
 
 #cat-data-container li{
    font-size : 22px;
  }

 #modes { 
    width: 37%;   
 }
 
 footer {
  display: none;
 }
 
 
 } 